<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Integration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .custom-bg {
            background-color: blanchedalmond;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            min-height: 100vh;
        }
    </style>
</head>

<body class="custom-bg">
    <div class="container mw-75 d-flex justify-content-center p-5">
        <div class="bg-white mx-auto pt-2 pb-2 pl-5 pr-5" style="border-radius: 15px; border-color: aquamarine; border-width: thick; border-style: solid;">
            <h1 style="font-style: italic; font-family: cursive; color:aquamarine;">Drink Up</h1>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="col-12 col-md-8 align-self-center d-flex justify-content-around p-2 bg-white" style="border-radius: 15px; border-color: aquamarine; border-width: thick; border-style: solid;">
            <form action="/search" class="row w-100">
                <div class="form-group col-12">
                    <div class=" d-flex justify-content-center">
                        <label for="drinkName" class="pl-4"><h4>Search for a drink:</h4></label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <input class="form-control  col-10" type="text" name="drinkName">
                    </div>
                </div>
                <div class="col-8">

                </div>
                <div class="form-group col-4">
                    <button class="btn btn-primary form-control" type="search" value="search">Search</button>
                </div>
            </form>

            <form action="/suprise" class="row w-100 d-flex flex-column justify-content-center align-items-center">
                <div class="mb-2">
                    <label for="drinkName"><h4>Discover a drink!</h4></label>
                </div>
                <div class="col-6">
                    <button class="btn btn-warning form-control" type="submit" value="suprise">Surprise Me!</button>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <% if (drinks && drinks.length > 0) { %>
                <% drinks.forEach((drink, drinkIndex) => { %>
                    <div class="col-md-4 d-flex justify-content-center pt-4">
                        <div class="card" style="width: 18rem; border-radius: 15px; border-color: aquamarine; border-width: thick; border-style: solid;">
                            <img class="card-img-top img-fluid" src="<%= drink.strDrinkThumb %>" alt="<%= drink.strDrink %>">
                            <div class="card-body">
                                <h5 class="card-title"><%= drink.strDrink %></h5>
                                <p class="card-text">
                                    Ingredients:
                                    <ul>
                                        <% for (let ingIdx = 1; ingIdx <= 15; ingIdx++) { %>
                                            <% if (drink[`strIngredient${ingIdx}`]) { %>
                                                <li><%= drink[`strMeasure${ingIdx}`] %> <%= drink[`strIngredient${ingIdx}`] %></li>
                                            <% } %>
                                        <% } %>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% if ((drinkIndex + 1) % 3 === 0) { %>
                        </div><div class="row d-flex justify-content-center">
                    <% } %>
                <% }); %>
            <% } else { %>
                <div class="d-flex justify-content-center pt-4">
                   <div class="d-flex justify-content-center p-4 bg-white" style="border-radius: 15px; border-color: aquamarine; border-width: thick; border-style: solid;">
                      <h4>No Drinks Found</h4>
                   </div>
                </div>
             <% } %>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>